<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contact.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href=" //cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo"><img src="/static/image/logo3.png"></div>
            <div class="company-name">
                <h1>PHARMA CO</h1>
            </div>
            <div class="rightside"></div>
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('doctors')}}">Doctor</a></li>
                <li><a href="{{url_for('medicines')}}">Medicines</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('contact')}}">Contact</a></li>
                <li><a href="{{url_for('login')}}">Logout</a></li>
            </ul>
            <div class="icon">
                <div class="fa fa-search" id="search-btn"></div>
                <a href="{{url_for('cart')}}"><div class="fa fa-shopping-cart" id="cart-btn" style="color: black;"></div></a>
                
            </div>
        </nav>
    </header>

    <section class="contact-section">
        <div class="contact-bg">
            <h3>Get in Touch With us</h3>
            <h2>Contact Us</h2>
        </div>
    </section>

    <section class="top">
        <h1 class="heading">Our Experts</h1>
        <hr>


        <div class="wrapper">
            <div class="container">
                <div class="img-wrapper">
                    <img src="/static/image/i1.png">
                </div>

                <div class="details">
                    <h3>Kailash Jain</h3>
                    <h5>General Physician | 25 year expert</h5>

                    <div class="social-icons">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="img-wrapper">
                    <img src="/static/image/i4 (1).png">
                </div>
                <div class="details">
                    <h3>Surbhi Rathore</h3>
                    <h5>Dermatology | 10 year expert</h5>
                    <div class="social-icons">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="img-wrapper">
                    <img src="/static/image/i3 (1).png">
                </div>
                <div class="details">
                    <h3>Pratyaksha</h3>
                    <h5>Endocrinologists | 15 year expert</h5>
                    <div class="social-icons">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="img-wrapper">
                    <img src="/static/image/ii5.png">
                </div>
                <div class="details">
                    <h3>Raghav</h3>
                    <h5>Cardiologist | 15 year expert</h5>
                    <div class="social-icons">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="bottom">
        <div class="contain">
            <h1 class="heading">LOCATION</h1>
            <hr>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d738710.4143868597!2d76.59339508479295!3d28.676728235707916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1714297969953!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>


    <!-- footer section -->
    <footer>
        <div class="footercontainer">
            <div class="socialicons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
            </div>
            <div class="footernav">
                <ul>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('doctors')}}">Doctor</a></li>
                    <li><a href="{{url_for('medicines')}}">Medicines</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="{{url_for('cart')}}">Cart</a></li>
                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                    <!-- <li><a href="{{url_for('login')}}">Logout</a></li> -->
                </ul>
            </div>
        </div>
        <div class="footerbottom">
            <p>Copyright &copy;2024; Designed by <span class="designer">Ayush & Rahul</span></p>
            <a href="">Email : Ayushpatel@gmail.com || Rahulchaurasiya@gmail.com</a>
        </div>
    </footer>
</body>

</html>