<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <!-- popup message -->
    {% if message %}
    <div class="popup">
        <span class="popuptext" id="myPopup">{{ message }}</span>
    </div>
    {% endif %}

    <!-- form -->
    <div class="container" id="container">
        <!-- sign in -->
        <div class="form signin-container">
            <form action="/login" method="POST">
                <h1>Login</h1>
                <!-- icons -->
                <div class="social-container">
                    <a href="#" class="social"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="social"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <span>or use your account</span>
                <div class="input-field">
                    <i class="fa-solid fa-user"></i>
                    <input type="text"  name="name" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <a href="#">forgot your password?</a>
                <button>Sign in</button>
            </form>
        </div>

        <!-- overlay -->
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <img src="static/image/d2.jpg" style="width: 12rem; height: 10rem; margin-top: 8%; border-radius: 10px;">
                    <button class="btn" id="signin">Sign in</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello User!</h1>
                    <p>Enter your personal details and start your journey with us</p>
                    <img src="static/image/d3.jpg" style="width: 12rem; height: 12rem; margin-top: 8%; border-radius: 10px;">
                    <a href="{{url_for('register')}}"><button class="btn" id="signup">Sign up</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script>
        // Disable back button
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });

        // When the user clicks anywhere outside of the popup, close it
        window.onclick = function(event) {
            if (!event.target.matches('.popup')) {
                var popups = document.getElementsByClassName("popuptext");
                for (var i = 0; i < popups.length; i++) {
                    var popup = popups[i];
                    if (popup.classList.contains('show')) {
                        popup.classList.remove('show');
                    }
                }
            }
        };
        
        // Show the popup message
        document.addEventListener("DOMContentLoaded", function(event) {
            var popup = document.getElementById("myPopup");
            if (popup) {
                popup.classList.add('show');
            }
        });
    </script>
</body>
</html>
